extends layout

block content 
  div(class="container")
    form(name="edit-epc-form" id="edit-epc-form" action="/edit-epc" method="POST")
      div(hidden)
        label(for='lmk-key')
        input(type="text" name='lmk-key' value=certificate['lmk-key'])
      div(class="row")
        div(class="column form-field")
          label(for='current-energy-rating') Current Energy rating:
          input(type="text" name='current-energy-rating' value=certificate['current-energy-rating'] disabled)
        div(class="column form-field") 
          label(for='current-energy-efficiency') Current Energy Efficiency:
          input(type="text" name='current-energy-efficiency' id='current-energy-efficiency' value=certificate['current-energy-efficiency'])
          small 
      div(class="row")
        div(class="column form-field") 
          label(for='potential-energy-rating') Potential Energy rating:
          input(type="text" name='potential-energy-rating' value=certificate['potential-energy-rating'] disabled)
        div(class="column form-field") 
          label(for='potential-energy-efficiency') Potential Energy Efficiency:
          input(type="text" name='potential-energy-efficiency' id='potential-energy-efficiency' value=certificate['potential-energy-efficiency'])
          small 
      div(class="row")
        div(class="column form-field") 
          label(for='construction-age-band') Construction Age Band:
          input(type="text" name='construction-age-band' value=certificate['construction-age-band'])
        div(class="column form-field")
          label(for='property-type') Property Type:
          input(type="text" name='property-type' value=certificate['property-type'])
      div(class="row")
        div(class="column form-field")
          label(for='transaction-type') Transaction Type:
          input(type="text" name='transaction-type' value=certificate['transaction-type'])
        div(class="column form-field")
          label(for='built-form') Built Form:
          input(type="text" name='built-form' value=certificate['built-form'])
      div(class="row")
        div(class="column form-field")
          label(for='total-floor-area') Total Floor Area:
          input(type="text" name='total-floor-area' value=certificate['total-floor-area'])
        div(class="column form-field")
          label(for='inspection-date') Inspection Date:
          input(type="text" name='inspection-date' value=certificate['inspection-date'])
      div(class="row")
        div(class="column form-field") 
          label(for='energy-consumption-current') Energy Consumption Current:
          input(type="text" name='energy-consumption-current' id='energy-consumption-current' value=certificate['energy-consumption-current'])
          small 
        div(class="column form-field") 
          label(for='energy-consumption-potential') Energy Consumption Potential:
          input(type="text" name='energy-consumption-potential' id='energy-consumption-potential' value=certificate['energy-consumption-potential'])
          small 
      div(class="row")
        div(class="column form-field")
          label(for='environment-impact-current') Environment Impact Current:
          input(type="text" name='environment-impact-current' id='environment-impact-current' value=certificate['environment-impact-current'])
          small 
        div(class="column form-field")
          label(for='environment-impact-potential') Environment Impact Potential:
          input(type="text" name='environment-impact-potential' id='environment-impact-potential' value=certificate['environment-impact-potential'])
          small 
      div(class="row")
        div(class="column form-field")
          label(for='co2-emissions-current') CO2 Emissions Current:
          input(type="text" name='co2-emissions-current' id='co2-emissions-current' value=certificate['co2-emissions-current'])
          small 
        div(class="column form-field")
          label(for='co2-emiss-curr-per-floor-area') CO2 Emission Current Per Floor Area:
          input(type="text" name='co2-emiss-curr-per-floor-area' value=certificate['co2-emiss-curr-per-floor-area'])
      div(class="row")
        div(class="column form-field")
          label(for='co2-emissions-potential') CO2 Emissions Potential:
          input(type="text" name='co2-emissions-potential' id='co2-emissions-potential' value=certificate['co2-emissions-potential'])
          small 
        div(class="column form-field")
          label(for='number-heated-rooms') Number Heated Rooms:
          input(type="text" name='number-heated-rooms' value=certificate['number-heated-rooms'])
      div(class="row")
        div(class="column form-field") 
          label(for='mainheat-description') Mainheat Description:
          input(type="text" name='mainheat-description' value=certificate['mainheat-description'])
        div(class="column form-field") 
          label(for='mainheat-energy-eff') Mainheat Energy Efficiency:
          input(type="text" name='mainheat-energy-eff' value=certificate['mainheat-energy-eff'])
      div(class="row")
        div(class="column form-field")
          label(for='mainheat-env-eff') Mainheat Environment Efficiency:
          input(type="text" name='mainheat-env-eff' value=certificate['mainheat-env-eff'])
        div(class="column form-field")
          label(for='main-fuel') Main Fuel:
          input(type="text" name='main-fuel' value=certificate['main-fuel'])
      div(class="row")
        div(class="column form-field") 
          label(for='heating-cost-current') Heating Cost Current:
          input(type="text" name='heating-cost-current' id='heating-cost-current' value=certificate['heating-cost-current'])
          small 
        div(class="column form-field") 
          label(for='heating-cost-potential') Heating Cost Potential:
          input(type="text" name='heating-cost-potential' id='heating-cost-potential' value=certificate['heating-cost-potential'])
          small
      div(class="row")
        div(class="column form-field") 
          label(for='hotwater-description') Hot Water Description:
          input(type="text" name='hotwater-description' value=certificate['hotwater-description'])
        div(class="column form-field")
          label(for='hot-water-cost-current') Hot Water Cost Curent:
          input(type="text" name='hot-water-cost-current' value=certificate['hot-water-cost-current'])
      div(class="row")
        div(class="column form-field") 
          label(for='hot-water-cost-potential') Hot Water Cost Potential:
          input(type="text" name='hot-water-cost-potential' id='hot-water-cost-potential' value=certificate['hot-water-cost-potential'])
          small 
        div(class="column form-field") 
          label(for='hot-water-energy-eff') Hot Water Energy Efficiency:
          input(type="text" name='hot-water-energy-eff' value=certificate['hot-water-energy-eff'])
      div(class="row")
        div(class="column form-field") 
          label(for='hot-water-env-eff') Hot Water Environment Efficiency:
          input(type="text" name='hot-water-env-eff' value=certificate['hot-water-env-eff'])
        div(class="column form-field")
          label(for='roof-description') Roof Description:
          input(type="text" name='roof-description' value=certificate['roof-description'])
      div(class="row")
        div(class="column form-field")
          label(for='roof-energy-eff') Roof Energy Efficiency:
          input(type="text" name='roof-energy-eff' value=certificate['roof-energy-eff'])
        div(class="column form-field") 
          label(for='roof-env-eff') Roof Environment Efficiency:
          input(type="text" name='roof-env-eff' value=certificate['roof-env-eff'])
      div(class="row")
        div(class="column form-field") 
          label(for='walls-description') Walls Description:
          input(type="text" name='walls-description' value=certificate['walls-description'])
        div(class="column form-field")
          label(for='walls-energy-eff') Walls Energy Efficiency:
          input(type="text" name='walls-energy-eff' value=certificate['walls-energy-eff'])
      div(class="row")
        div(class="column form-field")
          label(for='walls-env-eff') Walls Environment Efficiency:
          input(type="text" name='walls-env-eff' value=certificate['walls-env-eff'])
        div(class="column form-field") 
          label(for='lighting-description') Lighting Description:
          input(type="text" name='lighting-description' value=certificate['lighting-description'])
      div(class="row")
        div(class="column form-field") 
          label(for='lighting-cost-current') Lighting Cost Current:
          input(type="text" name='lighting-cost-current' id='lighting-cost-current' value=certificate['lighting-cost-current'])
          small 
        div(class="column form-field") 
          label(for='lighting-cost-potential') Lighting Cost Potential:
          input(type="text" name='lighting-cost-potential' id='lighting-cost-potential' value=certificate['lighting-cost-potential'])
          small 
      div(class="row")
        div(class="column form-field") 
          label(for='lighting-energy-eff') Lighting Energy Efficiency:
          input(type="text" name='lighting-energy-eff' value=certificate['lighting-energy-eff'])
        div(class="column form-field")
          label(for='lighting-env-eff') Lighting Environment Efficiency:
          input(type="text" name='lighting-env-eff' value=certificate['lighting-env-eff'])
      div(class="row")
        div(class="column form-field") 
          label(for='low-energy-lighting') Low Energy Lighting:
          input(type="text" name='low-energy-lighting' id='low-energy-lighting' value=certificate['low-energy-lighting'])
          small 
        div(class="column form-field")
          label(for='glazed-area') Glazed Area:
          input(type="text" name='glazed-area' value=certificate['glazed-area'])
      div(class="row")
        div(class="column form-field") 
          label(for='multi-glaze-proportion') Multi Glaze Proportion:
          input(type="text" name='multi-glaze-proportion' value=certificate['multi-glaze-proportion'])
        div(class="column form-field") 
          label(for='windows-description') Windows Description:
          input(type="text" name='windows-description' value=certificate['windows-description'])
      div(class="row")
        div(class="column form-field") 
          label(for='windows-energy-eff') Windows Energy Efficiency:
          input(type="text" name='windows-energy-eff' value=certificate['windows-energy-eff'])
        div(class="column form-field")
          label(for='windows-env-eff') Windows Environment Efficiency:
          input(type="text" name='windows-env-eff' value=certificate['windows-env-eff'])
      div(class="row")
        div(class="column form-field") 
          label(for='mechanical-ventilation') Mechanical Ventilation:
          input(type="text" name='mechanical-ventilation' value=certificate['mechanical-ventilation'])
        div(class="column form-field") 
          label(for='energy-tariff') Energy Tariff:
          input(type="text" name='energy-tariff' value=certificate['energy-tariff'])
          
      button(type="submit" value=certificate['lmk-key']) Save EPC Data

  script(src="/javascripts/edit-epc.js")
