extends layout

block content
  h1= title
  div(class="container epc-items")
    h2 EPC Data
    a(href="/edit-epc")
      button(type="button" class="editbtn") Edit EPC Data
      br
      br
    dl
      dt Address: 
      dd #{certificate['address']}
      dt Postcode: 
      dd #{certificate['postcode']}
      dt Local Authority:
      dd #{certificate['local-authority-label']}
      if certificate['posttown']
        dt Post Town: 
        dd #{certificate['posttown']}
      if certificate['county']
        dt County: 
        dd #{certificate['county']}
      if certificate['construction-age-band']
        dt Construction Age Band:
        dd #{certificate['construction-age-band']}
      if certificate['property-type']
        dt Property Type:
        dd #{certificate['property-type']}
      if certificate['transaction-type']
        dt Transaction Type:
        dd #{certificate['transaction-type']}
      if certificate['built-form']
        dt Built Form:
        dd #{certificate['built-form']}
      if certificate['total-floor-area']
        dt Total Floor Area:
        dd #{certificate['total-floor-area']}
      if certificate['inspection-date']
        dt Inspection Date:
        dd #{certificate['inspection-date']}
      dt Current Energy rating:
      dd #{certificate['current-energy-rating']}
      dt Current Energy Efficiency:
      dd #{certificate['current-energy-efficiency']}
      dt Potential Energy Rating:
      dd #{certificate['potential-energy-rating']}
      dt Potential Energy Efficiency:
      dd #{certificate["potential-energy-efficiency"]}
      if certificate['energy-consumption-current']
        dt Energy Consumption Current:
        dd #{certificate['energy-consumption-current']}
      if certificate['energy-consumption-potential']
        dt Energy Consumption Potential:
        dd #{certificate['energy-consumption-potential']}
      if certificate['environment-impact-current']
        dt Environment Impact Current:
        dd #{certificate['environment-impact-current']}
      if certificate['environment-impact-potential']
        dt Environment Impact Potential:
        dd #{certificate['environment-impact-potential']}
      if certificate['co2-emissions-current']
        dt CO2 Emissions Current:
        dd #{certificate['co2-emissions-current']}
      if certificate['co2-emiss-curr-per-floor-area']
        dt CO2 Emission Current Per Floor Area:
        dd #{certificate['co2-emiss-curr-per-floor-area']}
      if certificate['co2-emissions-potential']
        dt CO2 Emissions Potential:
        dd #{certificate['co2-emissions-potential']}
      if certificate['number-heated-rooms']
        dt Number Heated Rooms:
        dd #{certificate['number-heated-rooms']}
      if certificate['mainheat-description']
        dt Mainheat Description:
        dd #{certificate['mainheat-description']}
      if certificate['mainheat-energy-eff']
        dt Mainheat Energy Efficiency:
        dd #{certificate['mainheat-energy-eff']}
      if certificate['mainheat-env-eff']
        dt Mainheat Environment Efficiency:
        dd #{certificate['mainheat-env-eff']}
      if certificate['main-fuel']
        dt Main Fuel:
        dd #{certificate['main-fuel']}
      if certificate['heating-cost-current']
        dt Heating Cost Current:
        dd #{certificate['heating-cost-current']}
      if certificate['heating-cost-potential']
        dt Heating Cost Potential:
        dd #{certificate['heating-cost-potential']}
      if certificate['hotwater-description']
        dt Hot Water Description:
        dd #{certificate['hotwater-description']}
      if certificate['hot-water-cost-current']
        dt Hot Water Cost Curent:
        dd #{certificate['hot-water-cost-current']}
      if certificate['hot-water-cost-potential']
        dt Hot Water Cost Potential:
        dd #{certificate['hot-water-cost-potential']}
      if certificate['hot-water-energy-eff']
        dt Hot Water Energy Efficiency:
        dd #{certificate['hot-water-energy-eff']}
      if certificate['hot-water-env-eff']
        dt Hot Water Environment Efficiency:
        dd #{certificate['hot-water-env-eff']}
      if certificate['roof-description']
        dt Roof Description:
        dd #{certificate['roof-description']}
      if certificate['roof-energy-eff']
        dt Roof Energy Efficiency:
        dd #{certificate['roof-energy-eff']}
      if certificate['roof-env-eff']
        dt Roof Environment Efficiency:
        dd #{certificate['roof-env-eff']}
      if certificate['walls-description']
        dt Walls Description:
        dd #{certificate['walls-description']}
      if certificate['walls-energy-eff']
        dt Walls Energy Efficiency:
        dd #{certificate['walls-energy-eff']}
      if certificate['walls-env-eff']
        dt Walls Environment Efficiency:
        dd #{certificate['walls-env-eff']}
      if certificate['lighting-description']
        dt Lighting Description:
        dd #{certificate['lighting-description']}
      if certificate['lighting-cost-current']
        dt Lighting Cost Current:
        dd #{certificate['lighting-cost-current']}
      if certificate['lighting-cost-potential']
        dt Lighting Cost Potential:
        dd #{certificate['lighting-cost-potential']}
      if certificate['lighting-energy-eff']
        dt Lighting Energy Efficiency:
        dd #{certificate['lighting-energy-eff']}
      if certificate["lighting-env-eff"]
        dt Lighting Environment Efficiency:
        dd #{certificate["lighting-env-eff"]}
      if certificate['low-energy-lighting']
        dt Low Energy Lighting:
        dd #{certificate['low-energy-lighting']}
      if certificate['glazed-area']
        dt Glazed Area:
        dd #{certificate['glazed-area']}
      if certificate['multi-glaze-proportion']
        dt Multi Glaze Proportion:
        dd #{certificate['multi-glaze-proportion']}
      if certificate['windows-description']
        dt Windows Description:
        dd #{certificate['windows-description']}
      if certificate['windows-energy-eff']
        dt Windows Energy Efficiency:
        dd #{certificate['windows-energy-eff']}
      if certificate['windows-env-eff']
        dt Windows Environment Efficiency:
        dd #{certificate['windows-env-eff']}
      if certificate['mechanical-ventilation']
        dt Mechanical Ventilation:
        dd #{certificate['mechanical-ventilation']}
      if certificate['energy-tariff']
        dt Energy Tariff:
        dd #{certificate['energy-tariff']}
      br

  if smartMeterInformation
    div(class="container smart-meter-items")
      h2 Smart Meter Data 
      dl 
        dt Smart Meter Serial Number: 
        dd #{smartMeterInformation['smartMeterSerialNumber']}
        dt Interval Start:
        dd #{smartMeterInformation['intervalStart']}
        dt Electricty Consumption:
        dd #{smartMeterInformation['electricityConsumption']} kWh
        dt Gas Consumption:
        dd #{smartMeterInformation['gasConsumption']} kWh
    
  if recommendations
    div(class="container recommendation-items")
      h2 Retrofitting Suggestions 
      button(type="button" class="editbtn") Edit Suggestions
      br
      br
      table 
        thead 
          tr 
            th Improvement Description 
            th Cost 
            th Improvement ID 
        tbody 
          each recommendation in recommendations 
            tr 
              td #{recommendation["improvement-id-text"]}
              td #{recommendation["indicative-cost"]}
              td #{recommendation["improvement-id"]}
  div(class="container")
    form(action="/logout?_method=DELETE" method="POST")
      button(type="submit" class="redirectbtn") Logout
