extends layout

block content
  h1= title
  section.epcItems 
    h3 EPC Data
    //- ul 
    //-   each key, val in certificate 
    //-     li= key + ': ' + val 
    p #{certificate} 
  section.smartItems 
    h3 Smart Meter Data 
  if recommendations
    section.recommendationItems 
      h3 Retrofitting Suggestions 
      table 
        thead 
          tr 
            th Improvement Description 
            th Cost 
            th Improvement ID 
        tbody 
          each recommendation in recommendations 
            tr 
              td= recommendation["improvement-id-text"]
              td= recommendation["indicative-cost"]
              td= recommendation["improvement-id"]
  
  form(action="/logout?_method=DELETE" method="POST")
    input(type="submit" value="Log Out")
